<h1><%= castle %></h1>

<h2>Lieges</h2>
<% for (var key in JSON.parse(result)) { %>
  <h3><%= key %></h3>
    <ul>
      <li>Number of Vassals: <%= JSON.parse(result)[key] %></li>
    </ul>
<% } %>

<h3>Add A New Liege</h3>
<div>
  <form action="/castle" method="post">
    <label for="castleName">Castle Name:</label>
    <input type="text" name="castleName" id="castleName">

    <label for="kingdomName">Kingdom Name:</label>
    <input type="text" name="kingdomName" id="kingdomName">

    <input type="submit" name="submit">
  </form>
</div>