<h1><%= liege %></h1>

<h2>Vassals</h2>
<% result.forEach( vassal => { %>
  <ul>
    <li><%= vassal %></li>
  </ul>
<% }) %>

<h3>Add A New Vassal</h3>
<div>
  <form action="/vassal" method="post">
    <label for="liegeName">Name:</label>
    <input type="text" name="vassalName" id="liegeName">
    <input type="hidden" name="liegeId" value= <%= id %>>
    <input type="hidden" name="liegeName" value= <%= liege %>>

    <input type="submit" name="submit">
  </form>
</div>